.navbar {
  position: relative;

  ul.navLinks {
    display: flex;
    flex-direction: column;
    row-gap: theme('spacing.6');
    position: absolute;
    top: 100%;
    right: 0;
    left: 20%;
    height: calc(100vh - 100%);
    @apply bg-opacity-50 bg-neutral-300 backdrop-blur-md backdrop-brightness-90;
    padding: theme('spacing.6');
    text-align: right;
    z-index: 50;

    transition-property: opacity, transform;
    transition-timing-function: ease-out;
    transition-duration: 0.25s;

    &[data-state='closed'] {
      transform: translateX(100%);
      opacity: 0;
    }

    &[data-state='open'] {
      transform: translateX(0);
      opacity: 1;
    }

    @screen md {
      &[data-state='closed'],
      &[data-state='open'] {
        @apply bg-opacity-50 bg-transparent backdrop-blur-none backdrop-brightness-100;
        position: static;
        flex-direction: row;
        column-gap: theme('spacing.6');
        padding: 0;
        transform: translateX(0);
        opacity: 1;
      }
    }

    a:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }
}
