.heading-lg {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 500;
}
.heading-md {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}

.heading-sm {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
}

.body-md {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.body-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.caption {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
}
